
<%= simple_form_for @pipeline, html: { multipart: true } do |t| %>
  
  <div class="panel-body"></div>
  <%= t.label :pipeline_id %>
  <%= t.input :title, input_html: {class: 'form-control'} %>
  <%= t.input :description %>
  <%= t.button :submit, class: "btn btn-primary" %>
  <% end %>
