<%= link_to "Home", root_path %>
<%= link_to "Create New Pipeline", new_pipeline_path %>

<h1>All the pipelines</h1>
<div class="media">
  <img class="d-flex align-self-start mr-3" src="..." alt="Generic placeholder image">
  <div class="media-body">
    <div class="pipelines">
      <%= @pipelines.each do |pipeline| %>
        <h2><%= pipeline.title %></h2>
        
        <p>Created <%= time_ago_in_words(pipeline.created_at) %>
          by
          User # (code missing... change after devise setup)</p>
          <p><%= pipeline.description %> </p>

          <br />

          <%= link_to "New Pipeline", new_pipeline_path %>

        <% end %>
      </div>
  </div>
</div>
