
<h1><%= @pipeline.title %></h1>
<p><%= @pipeline.description %></p>

<%= link_to "Edit", edit_pipeline_path(@pipeline) %>
<%= link_to "Destroy", pipeline_path(@pipeline), method: :delete, data: { confirm: "That's crazy... you sure?"} %>
<%= link_to "Home", root_path %>
<br />

<%= link_to "New Pipeline", new_pipeline_path %>
